body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
  background: #232526 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #111 , #333, #111) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #111 , #333, #111) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
  color: white;
  padding-top: 2rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #111 , #333, #111); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #111 , #333, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  border-radius: 0rem !important;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 90px;
}

.jumbotron .container {
  max-width: 40rem;
}

.ionicContainer, .androidContainer, .webContainer, .javafxContainer{
  margin-top: 50px
}

.headingText{
  font-size: 18px;
  margin-top: 25px;
  color: #555;
}

.topHome {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  background: #232526;
}

.topHome .fa-2x {
  font-size: 20px;
  color:#fff;
  margin: 4px;
}

#listItem:focus, #listItem:hover{
  -webkit-box-shadow: 8px 8px 15px -6px #999;
  -moz-box-shadow: 8px 8px 15px -6px #999;
  box-shadow: 8px 8px 15px -6px #999;
  z-index: 100;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 50px;
}

footer p {
  margin-bottom: .25rem;
}

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

