/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
a, u {
    text-decoration: none !important;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  text-align: center;
}

.fullSiteWrapper{
  overflow-x: hidden;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  color: #fff;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url("../img/back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    color: #fff;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.introParagraph{
  margin-top: 30px;
}

/*.navHeading{
  text-shadow: 2px 2px #000;
}*/

.post{
  margin-top: 40px;
  font-weight: 200;
}

.afterLeaves{
  margin-top: 50px;
}

.afterLeaves, .afterdp, #recentWorks{
  z-index: 2;
}

.imgCircle{
  border-radius: 50%;
  height: 300px;
  -webkit-box-shadow: 8px 8px 15px -6px #999;
  -moz-box-shadow: 8px 8px 15px -6px #999;
  box-shadow: 8px 8px 15px -6px #999;
}

.imgCircle:hover, .imgCircle:focus{
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  border-radius: 30%;
}

.afterdp{
  margin-top: 50px;
}

.aboutMe{
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 25px;
  margin-top: 50px;
}

/*Recent-Works*/
#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 10px;
}
#recent-works{
  padding-bottom:70px;
}
.recent-work-wrap{
  position:relative;
  -webkit-box-shadow: 8px 8px 15px -6px #999;
  -moz-box-shadow: 8px 8px 15px -6px #999;
  box-shadow: 8px 8px 15px -6px #999;
}
.recent-work-wrap:hover, .recent-work-wrap:focus{
  position:relative;
  -webkit-box-shadow: 0px 0px 0px 0px #999;
  -moz-box-shadow: 0px 0px 0px 0px #999;
  box-shadow: 0px 0px 0px 0px #999;
}
.col-xs-12{
  padding: 10px;
}
.col-sm-4{
  padding: 10px;
}
.col-md-3{
  padding: 10px;
}
.recentWorksHeading, .gameContainer{
  text-align: center;
}
.recent-work-wrap img{
  width:100%;
}
.rwrow{
  margin-top: 50px;
}
.recent-work-wrap .recent-work-inner{
  top:0;
  background:transparent;
  opacity:.8;
  width:100%;
  border-radius:0;
  margin-bottom:0;
}
.recent-work-wrap .recent-work-inner h3{
  margin:10px 0;
}
.recent-work-wrap .recent-work-inner h3 a{
  font-size:24px;
  color:#fff;
}
.recent-work-wrap .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  border-radius:0;
  background:#c52d2f;
  color:#fff;
  vertical-align:middle;
  -webkit-transition:opacity 500ms;
  -moz-transition:opacity 500ms;
  -o-transition:opacity 500ms;
  transition:opacity 500ms;
  padding:30px;
}
.recent-work-wrap .overlay .preview{
  bottom:0;
  display:inline-block;
  height:35px;
  line-height:35px;
  border-radius:0;
  background:transparent;
  text-align:center;
  color:#fff;
}
.recent-work-wrap:hover .overlay{
  opacity:1;
}
#recentWorks{
  margin-top: 50px;
}

.masthead{
  width: 100%;
}

.sameLine{
  display: inline-block;
}

.navHeading{
  margin-top: -20px;
  padding-bottom: 7px;
}

.headerTop{
  z-index: 5;
}

.customNavItems{
  margin-top: -16px;
}

.loader {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:9999;
  background: url('../img/loading1.gif') 50% 50% no-repeat rgb(249,249,249);
}

.navShadow{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.topHome {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  background: #CC4646;
}

.topHome .fa-2x {
  font-size: 20px;
  color:#fff;
  margin: 4px;
}

footer{
  background-color: #222 !important; 
  padding-top: 150px;
  padding-bottom: 50px;
  position:relative;
  color: white;
  margin-top: 50px;
}

footer:after{
  content:''; /* Required to display content */
  position: absolute; /* Sets the position absolute to the top div */
  top: 0; 
  left: 50%;
  margin-left: -50px; /* Set margin equal to border px */
  width: 0;
  z-index:1;
  height: 0;
  border-top: solid 50px #fff; /* Creates the notch */
  border-left: solid 50px transparent; /* Creates triangle effect */
  border-right: solid 50px transparent; /* Creates triangle effect */
}

.footer-distributed{
  background-color: cadetblue;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #444;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #ffffff;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-about{
  line-height: 20px;
  color:  #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #444;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Responsive Footer*/

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.gameContainer{
  background-image: url('../img/game.jpg');
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  height: auto;
  color: white;
  padding: 100px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

/*.gameContainer:hover, .appContainer:hover, .designContainer:hover{
  opacity: 0.95;
}*/

.appContainer{
  background-image: url('../img/appContainer.png');
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  height: auto;
  color: white;
  padding: 100px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.designContainer{
  background-image: url('../img/Batarang.jpg');
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  height: auto;
  color: white;
  padding: 100px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.gameIntro{
  margin-top: 50px;
  color: white;
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  min-height: 400px;
  padding: 50px;
  padding-top: 100px;
}

.appIntro{
  /*margin-top: 50px;*/
  color: white;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #111 , #333, #111); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #111 , #333, #111); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  min-height: 400px;
  padding: 50px;
  padding-top: 100px;
}

.designIntro{
  /*margin-top: 50px;*/
  color: white;
  background: #e52d27; /* fallback for old browsers */
  background: -webkit-linear-gradient(bottom, #d93335 , #b31217); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(bottom, #d93335 , #b31217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
  min-height: 400px;
  padding: 50px;
  padding-top: 100px;
}

.game h2, .app h2, .design h2{
  font-size: 45px;
}

.game p, .app p, .design p, .aboutME p{
  font-size: 20px;
}

.shortLivedFooter{
  z-index: 0;
}