/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
a, u {
    text-decoration: none !important;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
  overflow-x: hidden;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  color: #fff;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    color: #fff;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.introParagraph{
  margin-top: 30px;
}

/*.navHeading{
  text-shadow: 2px 2px #000;
}*/

.post{
  margin-top: 40px;
  font-weight: 200;
}

.afterLeaves{
  margin-top: 50px;
}

.imgCircle{
  border-radius: 50%;
  height: 300px;
  -webkit-box-shadow: 8px 8px 15px -6px #999;
  -moz-box-shadow: 8px 8px 15px -6px #999;
  box-shadow: 8px 8px 15px -6px #999;
}

.imgCircle:hover, .imgCircle:focus{
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  border-radius: 30%;
}

.afterdp{
  margin-top: 50px;
}

.aboutMe{
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 25px;
  margin-top: 50px;
}

/*Recent-Works*/
#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 10px;
}
#recent-works{
  padding-bottom:70px;
}
.recent-work-wrap{
  position:relative;
  -webkit-box-shadow: 8px 8px 15px -6px #999;
  -moz-box-shadow: 8px 8px 15px -6px #999;
  box-shadow: 8px 8px 15px -6px #999;
}
.recent-work-wrap:hover, .recent-work-wrap:focus{
  position:relative;
  -webkit-box-shadow: 0px 0px 0px 0px #999;
  -moz-box-shadow: 0px 0px 0px 0px #999;
  box-shadow: 0px 0px 0px 0px #999;
}
.col-xs-12{
  padding: 10px;
}
.col-sm-4{
  padding: 10px;
}
.col-md-3{
  padding: 10px;
}
.recentWorksHeading, .gameContainer{
  text-align: center;
}
.recent-work-wrap img{
  width:100%;
}
.rwrow{
  margin-top: 50px;
}
.recent-work-wrap .recent-work-inner{
  top:0;
  background:transparent;
  opacity:.8;
  width:100%;
  border-radius:0;
  margin-bottom:0;
}
.recent-work-wrap .recent-work-inner h3{
  margin:10px 0;
}
.recent-work-wrap .recent-work-inner h3 a{
  font-size:24px;
  color:#fff;
}
.recent-work-wrap .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  border-radius:0;
  background:#c52d2f;
  color:#fff;
  vertical-align:middle;
  -webkit-transition:opacity 500ms;
  -moz-transition:opacity 500ms;
  -o-transition:opacity 500ms;
  transition:opacity 500ms;
  padding:30px;
}
.recent-work-wrap .overlay .preview{
  bottom:0;
  display:inline-block;
  height:35px;
  line-height:35px;
  border-radius:0;
  background:transparent;
  text-align:center;
  color:#fff;
}
.recent-work-wrap:hover .overlay{
  opacity:1;
}
#recentWorks{
  margin-top: 50px;
}

.gameContainer{
  margin-top: 50px;
}

.masthead{
  width: 100%;
}

.sameLine{
  display: inline-block;
}

.navHeading{
  margin-top: -10px;
}

.headerTop{
  z-index: 5;
}