@import './colors.scss';

%background-full-size {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

%rainbow-gradient-with-animation {
    background: $light-sky-blue;
    background: -webkit-linear-gradient(to right, $peach, $magenta, $light-sky-blue, $turquoise);
    background: linear-gradient(to right, $peach, $magenta, $light-sky-blue, $turquoise);
    background-size: 400% 400%;
    -webkit-animation: GradientAnimation 15s ease infinite;
	-moz-animation: GradientAnimation 15s ease infinite;
	animation: GradientAnimation 15s ease infinite;

    @-webkit-keyframes GradientAnimation {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes GradientAnimation {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes GradientAnimation {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
}

